<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Space Simulator</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/project">Project <span class="sr-only">(current)</span></a></li>
        <li><a href="#/simulation">Simulation</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/help">Help</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
	<div class="row">
		<h2>Running Projects</h2>
		<div class="btn-group" role="group" aria-label="Actions">
		  <button type="button" class="btn btn-default btn-xs"  ng-click="refreshProjects()">Refresh</button>
		</div>
	</div>
	<div class="row">
		<table class="table table-hover table-condensed">
			<tr>
				<th>Identification</th>
				<th>Project</th>
				<th>Time</th>
				<th>Actions</th>
			</tr>
 			<tr ng-repeat="p in projects">
 				<td>{{p.id}}</td>
 				<td>{{p.name}}</td>
 				<td>{{p.time.value * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
 				<td><a class="btn btn-default btn-xs" href="#/simulation/{{p.id}}" role="button">Open</a>&nbsp;
 					<button ng-show="p.running" type="button" ng-click="stopProject(p)" class="btn btn-default btn-xs">Stop</button>
 					<button ng-show="!p.running" type="button" ng-click="resumeProject(p)" class="btn btn-default btn-xs">Resume</button>
 					<button type="button" ng-click="closeProject(p)" class="btn btn-default btn-xs">Close</button>
 				</td>
 			</tr> 
		</table>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<input type="file" data-filename-placement="inside">
		</div>
	</div>
	<div class="row">
		<h2>Builders</h2>
		<table class="table table-hover table-condensed">
			<tr>
				<th>Project</th>
				<th>Actions</th>
			</tr>
 			<tr ng-repeat="b in builders">
 				<td>{{b.name}}</td>
 				<td><button type="button" ng-click="buildProject(b)" class="btn btn-default btn-xs">Build</button></td>
 			</tr> 
		</table>
	</div>
</div>