<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Space Simulator</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/project">Project <span class="sr-only">(current)</span></a></li>
        <li><a href="#/simulation">Simulation</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/help">Help</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8">
			<h2>Running Projects</h2>
			<table class="table table-hover table-condensed">
				<tr>
					<th>Id</th>
					<th>Project</th>
					<th>Time</th>
					<th>Last Event</th>
					<th>Actions</th>
				</tr>
	 			<tr ng-repeat="p in projects">
	 				<td><small>{{p.id}}</small></td>
	 				<td><a href="#/simulation/{{p.id}}"><small>{{p.name}}</small></a></td>
	 				<td><small>{{p.time.value * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</small></td>
	 				<td><div ng-show="p.lastHistoryPoint != null">
							<img ng-src=".{{p.lastHistoryPoint.icon}}">
							<small>{{p.lastHistoryPoint.name}}, {{p.lastHistoryPoint.timestamp.value * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</small></div>
						</div></td>
	 				<td><a href="model/download/{{p.id}}"><img src="icons/disk.png"></a>
	 					<img src="icons/page_copy.png" ng-click="takeSnapshot(p)">
	 					<img src="icons/control_stop_blue.png" ng-show="p.running" ng-click="stopProject(p)">
	 					<img src="icons/control_play_blue.png" ng-show="!p.running" ng-click="resumeProject(p)">
	 					<img src="icons/delete.png" ng-click="closeProject(p)">
	 				</td>
	 			</tr> 
			</table>
			<div class="btn-group" role="group" aria-label="Actions">
				  <button type="button" class="btn btn-default btn-sm" ng-click="refreshProjects()">
				  	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>&nbsp;Refresh		
				  </button>
			</div>
			<h2>Upload Model</h2>
			<div class="row">
				<div class="col-lg-3">
					<input type="file" ng-file-select class="filestyle" accept="application/json" ng-model="uploadedFile"
						data-iconName="glyphicon-open" data-size="sm" data-buttonText="Open">
				</div>
				<div class="col-lg-1">
					<button type="submit" class="btn btn-default btn-sm" ng-click="uploadModel()">
						<span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>&nbsp;Submit
					</button>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<h2>Builders</h2>
			<table class="table table-hover table-condensed">
				<tr>
					<th>Project</th>
					<th>Actions</th>
				</tr>
	 			<tr ng-repeat="b in builders">
	 				<td><small>{{b.name}}</small></td>
	 				<td>
	 					<button type="button" ng-click="buildProject(b)" class="btn btn-default btn-xs">Build</button>
	 					<button type="button" ng-show="b.fileName!=null" ng-click="removeBuilder(b)" class="btn btn-default btn-xs">Remove</button>
	 				</td>
	 			</tr> 
			</table>
		</div>
	</div>
</div>