<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Space Simulator</a>
		</div>
		<div class="collapse navbar-collapse"
			id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#/project">Project</a></li>
				<li class="active"><a href="#/simulation">Simulation <span
						class="sr-only">(current)</span></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/help">Help</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="row main-row">
		<div class="col-lg-2">
			<small>Time:{{time*1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</small>
		</div>
		
		<div class="col-lg-2">
			<button ng-show="project.running" type="button" class="btn btn-default btn-xs" ng-click="reloadScene()">Get Current</button>
		</div>
		
		<div class="col-lg-2">
			<span ng-show="project.running" class="label label-default">Running</span>
			<span ng-show="!project.running" class="label label-default">Stopped</span>
		</div>

		<div class="col-lg-2">
			
		</div>
		
		<div class="col-lg-4 detail-panel">
			<form class="form-inline">
				<div class="form-group form-group-sm">
					<label class="control-label" for="cmbCamera">Selected Target:</label>
					<div class="btn-group" id="cmbCamera">
						<button class="btn btn-default btn-xs dropdown-toggle"
							type="button" data-toggle="dropdown" aria-expanded="false">{{cameraTarget}}<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="pp in positionProviders"><a href="javascript:;" ng-click="selectCameraTarget(pp)">{{pp.name}}</a></li>
						</ul>
					</div>
				</div>
				<div class="form-group form-group-sm">
					<label class="control-label" for="cmbSelected">Selected Object:</label>
					<div class="btn-group" id="cmbSelected">
						<button class="btn btn-default btn-xs dropdown-toggle"
							type="button" data-toggle="dropdown" aria-expanded="false">{{selectedObject.name}}<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="pp in positionProviders"><a href="javascript:;" ng-click="selectObject(pp)">{{pp.name}}</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-8">
			<div id="container">WEBGL container</div>
		</div>
		<div class="col-lg-4 detail-panel">
			<accordion close-others="false">
			    <accordion-group is-open="details.basic.open" ng-show="!details.basic.disabled">
			        <accordion-heading>
			            Basic Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': details.basic.open, 'glyphicon-chevron-right': !details.basic.open}"></i>
			        </accordion-heading>
			        <div class="container-fluid">
			        	<div class="row">
							<div class="col-lg-6"><small>Name</small></div>
							<div class="col-lg-6"><small>{{selectedObject.name}}</small>&nbsp;<button ng-click="selectCameraTarget(selectedObject)" type="button" class="btn btn-default btn-xs">Camera</button></div>
						</div>
			        </div>
			    </accordion-group>
			    <accordion-group is-open="details.physical.open" ng-show="!details.physical.disabled">
			        <accordion-heading>
			            Physical Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': details.physical.open, 'glyphicon-chevron-right': !details.physical.open}"></i>
			        </accordion-heading>
			        <div class="container-fluid">
			        	<div class="row">
			        		<div class="col-lg-1 detail-row"><small>m</small></div>
							<div class="col-lg-5"><small>Mass</small></div>
							<div class="col-lg-6"><small>{{selectedObject.mass}}</small></div>
						</div>
						<div class="row">
			        		<div class="col-lg-1 detail-row"><small>r</small></div>
							<div class="col-lg-5"><small>Radius</small></div>
							<div class="col-lg-6"><small>{{selectedObject.radius}}</small></div>
						</div>
						<div class="row">
			        		<div class="col-lg-1 detail-row"><small>t</small></div>
							<div class="col-lg-5"><small>Rotation Period</small></div>
							<div class="col-lg-6"><small>{{selectedObject.rotationPeriod}}</small></div>
						</div>
						<div class="row">
			        		<div class="col-lg-1 detail-row"><small>&nbsp;</small></div>
							<div class="col-lg-5"><small>Wiki</small></div>
							<div class="col-lg-6"><small><button type="button" ng-click="openWiki()" class="btn btn-link btn-xs">Link</button></small></div>
						</div>
			        </div>
			    </accordion-group>
			    <accordion-group is-open="details.spacecraft.open" ng-show="!details.spacecraft.disabled">
			        <accordion-heading>
			            Spacecraft Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': details.spacecraft.open, 'glyphicon-chevron-right': !details.spacecraft.open}"></i>
			        </accordion-heading>
			        <div class="container-fluid">
			        	<div class="row">
							<div class="col-lg-6"><small>Mass</small></div>
							<div class="col-lg-6"><small>{{selectedObject.mass}}</small></div>
						</div>
						<div class="row">
							<div class="col-lg-6"><small>Target</small></div>
							<div class="col-lg-6"><small>{{selectedObject.target.targetObject}}</small>&nbsp;<button ng-click="selectCameraByTargetName(selectedObject.target.targetObject)" type="button" class="btn btn-default btn-xs">Camera</button></div>
						</div>
			        </div>
			    </accordion-group>
			    <accordion-group is-open="details.orbital.open" ng-show="!details.orbital.disabled">
			        <accordion-heading>
			            Orbital Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': details.orbital.open, 'glyphicon-chevron-right': !details.orbital.open}"></i>
			        </accordion-heading>
			        <div class="container-fluid">
			        	<div class="row">
							<div class="col-lg-1 detail-row"><small>a</small></div>
							<div class="col-lg-5"><small>Semimajor Axis</small></div>
							<div class="col-lg-6"><small>{{selectedObject.keplerianElements.keplerianOrbit.semimajorAxis}}</small></div>
						</div>
						<div class="row">
							<div class="col-lg-1 detail-row"><small>e</small></div>
							<div class="col-lg-5"><small>Eccentricity</small></div>
							<div class="col-lg-6"><small>{{selectedObject.keplerianElements.keplerianOrbit.eccentricity}}</small></div>
						</div>
						<div class="row">
							<div class="col-lg-1 detail-row"><small>&omega;</small></div>
							<div class="col-lg-5"><small>Argument Of Periapsis</small></div>
							<div class="col-lg-6"><small>{{toDegrees(selectedObject.keplerianElements.keplerianOrbit.argumentOfPeriapsis)}}</small></div>
						</div>
						<div class="row">
							<div class="col-lg-1 detail-row"><small>i</small></div>
							<div class="col-lg-5"><small>Inclination</small></div>
							<div class="col-lg-6"><small>{{toDegrees(selectedObject.keplerianElements.keplerianOrbit.inclination)}}</small></div>
						</div>
						<div class="row">
							<div class="col-lg-1 detail-row"><small>&Omega;</small></div>
							<div class="col-lg-5"><small>Ascending Node</small></div>
							<div class="col-lg-6"><small>{{toDegrees(selectedObject.keplerianElements.keplerianOrbit.ascendingNode)}}</small></div>
						</div>
						<div class="row">
							<div class="col-lg-1 detail-row"><small>T</small></div>
							<div class="col-lg-5"><small>Time Of Periapsis</small></div>
							<div class="col-lg-6"><small>{{selectedObject.keplerianElements.keplerianOrbit.timeOfPeriapsis.value * 1000 | date:'yyyy-MM-dd HH:mm:ss Z' }}</small></div>
						</div>
						<div class="row">
							<div class="col-lg-1 detail-row"><small>P</small></div>
							<div class="col-lg-5 detail-row"><small>Period</small></div>
							<div class="col-lg-6"><small>{{selectedObject.keplerianElements.keplerianOrbit.period }}</small></div>
						</div>
						<div class="row">
							<div class="col-lg-1 detail-row"><small>&theta;</small></div>
							<div class="col-lg-5"><small>True Anomaly</small></div>
							<div class="col-lg-6"><small>{{toDegrees(selectedObject.keplerianElements.trueAnomaly) }}</small></div>
						</div>
			        </div>
			    </accordion-group>
			 </accordion>
		</div>
	</div>
</div>
