.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.panel-body {
	padding: 5px;
}

.main-row {
	margin-bottom: 10px;
}

.detail-panel {
	padding-left: 0px;
	padding-right: 5px;
}

.main-menu {
	margin-bottom: 10px;
}

.contairner-panel {
	padding-right: 5px;
	padding-left: 5px;
}
